@font-face {
    font-family: 'openSansLight';
    src: url(../resources/fonts/OpenSans-Light.ttf);
}

@font-face {
    font-family: 'openSans';
    src: url(../resources/fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'openSansBold';
    src: url(../resources/fonts/OpenSans-Bold.ttf);
}

body {
	font-family: openSans;
	color: #A9A9A9;
	background-color: #141414;
}

.navbar {
    border: none;
    border-radius: 0;
    background-color: rgba(0,0,0,0.85);
}

.navbar > li > a {
	color: #A9A9A9;
}

.dropdown-menu{
	background-color: rgba(0,0,0,0.85);
	
	/*
	-webkit-transition: all 0.22s;
    -moz-transition: all 0.22s;
    -ms-transition: all 0.22s;
    -o-transition: all 0.22s;
    transition: all 0.22s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
    */
}

/*
.dropdown.open .dropdown-menu {
    max-height: 400px;
    opacity: 1;
}
*/

.dropdown-menu > li > a {
	color: #A9A9A9;
}

.navbar .nav > li.current-menu-item > a, .navbar .nav > li.current-menu-ancestor > a, 
.navbar .nav > li > a:hover, .navbar .nav > li > a:focus, .nav.active a {
	color: #DFDFDF;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #997BAE !important;
}

.dropdown-menu > li:hover, .dropdown-menu > li > a:hover {
	background-color: rgba(153,123,174,0.85);
	color: #DFDFDF;
	-webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
}

.brand {
	max-width:200px; 
	margin-top: -1.5px;
	-webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}

.brand:hover {
    -ms-transform: scale(1.03,1.03); /* IE 9 */
    -webkit-transform: scale(1.03,1.03); /* Safari */
    transform: scale(1.03,1.03);
    z-index:9999;

}

.universe-bg {
	background: url(../resources/nebula.jpg) no-repeat;
	background-size: contain;
}

.client {
    text-align:center;
    float:left;
    letter-spacing:1px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    cursor:pointer;
}

.client:hover {
    -ms-transform: scale(1.04,1.04); /* IE 9 */
    -webkit-transform: scale(1.04,1.04); /* Safari */
    transform: scale(1.04,1.04);

    -webkit-box-shadow: 0px 0px 5px 2px rgba(153,123,174,1);
	-moz-box-shadow: 0px 0px 5px 2px rgba(153,123,174,1);
	box-shadow: 0px 0px 5px 2px rgba(153,123,174,1);
    
    z-index:9999;
    border-right:1px solid transparent;
    border-bottom:1px solid transparent;
    cursor:pointer;
}